@import '_mixins';
@import '_variables';
@import '_desktop.scss';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');
header {
  max-width: 1600px;
  margin: 0 auto !important;
}

main {
  max-width: 1600px;
  margin: 0 auto !important;
}

object {
  pointer-events: none;
}

.error {
  display: block;
  width: fit-content;
  height: fit-content;
  font-size: 17px;
  font-weight: 400;
  color: #ff0000;
  text-align: center;
  background-color: #c7cfc8;
  line-height: 20px;
}

header {
  background-image: url(../img/bg1.png) !important;
  background-position: center right;
  background-repeat: no-repeat;
  font-family: 'Montserrat';
  & .logo {
    width: 10%;
    height: 58px;
  }
  .hamburger-menu {
    & .navigationMenu--icon svg {
      width: 20px;
      height: 20px;
    }
    & .navigationMenu .number--icon a svg {
      width: 25px;
      height: 25px;
    }
  }
  & .navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
    & ul {
      list-style: none;
      display: flex;
      & li a {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        margin-left: 2rem;
        border: none;
        &:hover {
          color: #b93131;
          text-decoration: none;
          border: none;
        }
      }
    }
    &--tel {
      margin-left: 3rem;
      display: flex;
      &-icon {
        & svg {
          display: flex;
          width: 14px;
          height: 14px;
          margin-right: 0.2rem;
          margin-top: 0.2rem;
        }
      }
      &-number {
        display: flex;
        flex-direction: column;
        & a {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
          border-bottom: 1px solid #d83838;
          &:hover {
            text-decoration: none;
            color: #d83838;
          }
          &:focus {
            border: none;
            outline: none;
            box-shadow: none;
          }
          &:active {
            color: #b93131;
          }
        }
        & .number--icon {
          display: flex;
          justify-content: flex-end;
          margin-top: 0.4rem;
          a {
            border: none;
          }
        }
        & svg {
          width: 22px;
          height: 22px;
          margin-left: 0.7rem;
        }
      }
    }
  }
  & .header_content {
    padding: 0 8rem;
    & h1 {
      margin: 70px 0 30px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 100px;
      text-transform: uppercase;
      color: #2e2e2e;
      & span {
        color: #d83838;
      }
    }
    & h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 30px;
      color: #000000;
      opacity: 0.8;
    }
    &--container {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      & p {
        max-width: 275px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        opacity: 0.8;
        margin-left: 1rem;
      }
      & a {
        background-color: #d83838;
        padding: 0.4rem 2rem;
        font-weight: 500;
        font-size: 16px;
        line-height: 50px;
        text-align: center;
        color: #ffffff;
        &:hover {
          text-decoration: none;
          background-color: #a80505;
        }
      }
    }
    &--container2 {
      margin-top: 230px;
      display: flex;
      justify-content: space-between;
      & div {
        width: 17%;
        & p {
          font-weight: bold;
          font-size: 96px;
          line-height: 50px;
          text-transform: uppercase;
          color: #313131;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: 0;
          & span {
            font-size: 36px;
            line-height: 30px;
            margin: 0 0.8rem;
          }
          & .plus {
            font-weight: 700;
            font-size: 48px;
            line-height: 30px;
          }
        }
        & h3 {
          border-top: 3px solid #b7b7b7;
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 30px;
          color: #000000;
          opacity: 0.7;
        }
      }
    }
  }
}

main {
  & .about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    &--left {
      & img {
        max-width: 100%;
      }
    }
    &--right {
      & h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        text-transform: uppercase;
        color: #000000;
        max-width: 580px;
        & span {
          color: #d83838;
        }
      }
      &-container {
        display: flex;
        align-items: baseline;
        & p {
          font-weight: 400;
          font-size: 22px;
          line-height: 27px;
          color: #000000;
          opacity: 0.8;
          max-width: 520px;
        }
        & svg {
          @media screen and (max-width: 767px) {
            width: 100px !important;
          }
        }
      }
    }
  }
  & .services {
    & .bg2 {
      margin: 2.5rem auto;
      width: 100%;
    }
    & .services_container {
      display: flex;
      align-items: baseline;
      padding: 0 8rem;
      & .line {
        margin-right: 0.7rem;
      }
      & h2 {
        font-weight: 700;
        font-size: 49px;
        line-height: 59px;
        text-transform: uppercase;
        color: #000000;
        max-width: 1000px;
        & span {
          color: #d83838;
        }
      }
    }
  }
  & .price {
    display: flex;
    margin-top: 3rem;
    padding: 0 8rem;
    & .price_right {
      margin-left: 9rem;
      width: 20%;
      margin-top: 120px;
    }
    & .price_left {
      width: 60%;
      &--container {
        margin-bottom: 50px;
        border: 1px solid #d83838;
        box-sizing: border-box;
        display: flex;
        padding: 2rem 1rem;
        justify-content: center;
        &-right {
          & h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            margin-bottom: 1rem;
          }
          & p {
            font-weight: 400;
            font-size: 18px;
            color: #000000;
            opacity: 0.7;
            & svg {
              margin-right: 0.3rem;
              width: 12px;
              height: 12px;
            }
          }
        }
        &-left {
          & h2 {
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            text-transform: uppercase;
            color: #000000;
            max-width: 410px;
            margin-bottom: 70px;
          }
          & .price_left--container-left--big {
            margin-top: 112px;
          }
          & div {
            display: flex;
            & p {
              font-weight: 700;
              font-size: 22px;
              line-height: 29px;
              color: #000000;
              position: relative;
              &::after {
                content: '(вигода до 25%)';
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: #000000;
                opacity: 0.6;
                position: absolute;
                top: 30px;
                left: 15px;
              }
            }
            & a {
              background-color: #d83838;
              padding: 0 1.5rem;
              font-weight: 500;
              font-size: 16px;
              line-height: 50px;
              text-align: center;
              color: #ffffff;
              margin-left: 12px;
              &:hover {
                text-decoration: none;
                background-color: #a80505;
              }
            }
          }
        }
      }
      &--container2 {
        border: 1px solid #d83838;
        box-sizing: border-box;
        padding: 2rem 1rem;
        background: #d83838;
        & h2 {
          margin-left: 1rem;
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 34px;
          text-transform: uppercase;
          color: #ffffff;
          & svg {
            margin-right: 0.3rem;
            width: 12px;
            height: 12px;
          }
        }
        & .price_left--container22 {
          margin-top: 20px;
          display: flex;
          justify-content: space-around;
          &-left {
            display: flex;
            align-items: flex-end;
            align-items: center;
            & p {
              font-style: normal;
              font-weight: 700;
              font-size: 25px;
              line-height: 30px;
              color: #ffffff;
            }
            & a {
              background-color: #ffffff;
              padding: 0 1.5rem;
              font-weight: 500;
              font-size: 16px;
              line-height: 50px;
              text-align: center;
              color: #000000;
              margin-left: 12px;
              &:hover {
                text-decoration: none;
                background-color: #a80505;
                color: #ffffff;
                border: 1px solid #ffffff;
              }
            }
          }
          &-right {
            & p {
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 22px;
              color: #ffffff;
              opacity: 0.7;
              max-width: 265px;
              margin: 1rem 0 0 0.5rem;
              & svg {
                margin-right: 0.3rem;
                width: 12px;
                height: 12px;
              }
            }
          }
        }
      }
    }
  }
  & .whu_me {
    & h2 {
      margin: 5rem 0 1rem 8rem;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      text-transform: uppercase;
      color: #000000;
      & span {
        color: #d83838;
      }
    }
    &--container {
      display: flex;
      justify-content: center;
      align-items: center;
      &-right {
        & .whu_me_container {
          margin-left: 5rem;
          display: flex;
          & div {
            height: 176px;
            display: flex;
            align-items: center;
            & p {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 21px;
              color: #000000;
              & span {
                font-weight: 700;
              }
            }
          }
          &--1 {
            max-width: 355px;
            background: url(../img/bg4-1.png);
            background-position: 0 0;
            background-repeat: no-repeat;
          }
          &--2 {
            max-width: 260px;
            background: url(../img/bg4-2.png);
            background-position: 0 0;
            background-repeat: no-repeat;
          }
          &--3 {
            max-width: 360px;
            background: url(../img/bg4-3.png);
            background-position: 0 0;
            background-repeat: no-repeat;
            margin-left: 7rem;
          }
          &--4 {
            max-width: 300px;
            background: url(../img/bg4-4.png);
            background-position: 0 0;
            background-repeat: no-repeat;
          }
        }
      }
      &-left {
        & img {
          max-width: 100%;
        }
      }
    }
  }
  & .works {
    & h2 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 41px;
      text-transform: uppercase;
      color: #000000;
      max-width: 1100px;
      margin: 3rem 8rem;
      & span {
        color: #d83838;
      }
    }
    &--container {
      display: flex;
      align-items: baseline;
      margin-bottom: 2rem;
      & div {
        & svg {
          margin-left: 8rem;
        }
        & p {
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 26px;
          color: #000000;
          opacity: 0.8;
          max-width: 510px;
          margin-left: 1rem;
        }
      }
    }
    &--container2 {
      & div {
        padding: 2rem 8rem;
        border: 1px solid #303030;
        & h3 {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 26px;
          color: #000000;
        }
        & p {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 26px;
          color: #000000;
          max-width: 1200px;
          margin: 0;
        }
        &:hover {
          background: #d83838;
          & p {
            color: #ffffff !important;
          }
          & h3 {
            color: #ffffff !important;
          }
        }
      }
    }
  }
  & .consultation {
    padding: 3rem 8rem;
    background-image: url(../img/bg5-1.png) !important;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: no-cover;
    & h2 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 41px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 2rem;
      & span {
        color: #d83838;
      }
    }
    &--container {
      display: flex;
      align-items: baseline;
      margin-bottom: 2rem;
      & div {
        & p {
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 27px;
          color: #000000;
          opacity: 0.8;
          max-width: 320px;
          margin-left: 0.5rem;
        }
      }
    }
    &--container2 {
      display: flex;
      justify-content: center;
      align-items: center;
      & div {
        width: 32%;
        text-align: center;
        & p {
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 27px;
          color: #000000;
          margin-top: 0.8rem;
        }
        & img {
          max-width: 100%;
        }
      }
    }
    & form {
      padding: 35px 0;
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background: #313131;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      & input {
        height: 60px;
        margin-right: 1rem;
      }
      & button {
        background-color: #d83838;
        padding: 0.4rem 2rem;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #ffffff;
        height: 60px;
        outline: none;
        border: none;
        margin-right: 1rem;
        &:hover {
          text-decoration: none;
          background-color: #a80505;
        }
      }
      & input {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        padding: 1rem;
        color: #6b6b6b;
        &:focus {
          border: none;
          outline: none;
          border-left: 5px solid #a80505;
        }
      }
      & .name {
        width: 235px;
      }
      & .tel {
        width: 220px;
      }
      & .text {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
        width: 340px;
      }
    }
  }
  & .budget {
    display: flex;
    padding: 3rem 8rem;
    &--right {
      & img {
        max-width: 100%;
      }
    }
    &--left {
      & h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 41px;
        text-transform: uppercase;
        color: #303030;
        max-width: 900px;
        margin-top: 4rem;
        & span {
          color: #d83838;
        }
      }
      &-container {
        display: flex;
        align-items: baseline;
        margin: 3rem 0;
        & div {
          & p {
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #000000;
            opacity: 0.8;
            max-width: 400px;
            margin-left: 1rem;
          }
        }
      }
      & p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        max-width: 610px;
        & .bold {
          font-weight: 700;
        }
        & .red {
          color: #d83838;
        }
      }
    }
  }
  & .time {
    width: 100%;
    background-image: url(../img/bg6.png);
    background-position: center right;
    padding: 3rem 8rem 2rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: flex-end;
    flex-wrap: wrap;
    & h2 {
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      text-transform: uppercase;
      color: #FFFFFF;
      max-width: 600px;
      margin-bottom: 1rem;
    }
    & p {
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      color: #FFFFFF;
      opacity: 0.8;
      max-width: 450px;
      margin: 0;
    }
  }
  & .forYou {
    padding: 3rem 8rem;
    background-image: url(../img/bg7-5.png) !important;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    & h2 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 41px;
      text-transform: uppercase;
      color: #000000;
      max-width: 800px;
      & span {
        color: #D83838;
      }
    }
    &--container {
      display: flex;
      align-items: baseline;
      margin: 3rem 0;
      & div {
        & p {
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 26px;
          color: #000000;
          opacity: 0.8;
          max-width: 650px;
          margin-left: 1rem;
        }
      }
    }
    &--container2 {
      & .forYou_container2 {
        display: flex;
        & div {
          max-width: 510px;
          height: 140px;
          display: flex;
          align-items: center;
          margin: 0 5rem 5rem 0;
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
        }
        & p {
          font-weight: 400;
          font-size: 22px;
          line-height: 27px;
          color: #000000;
          margin: 0 3rem;
        }
        &-1 {
          background: url(../img/bg7-1.png);
          background-position: 93% 55%;
          background-repeat: no-repeat;
        }
        &-2 {
          background: url(../img/bg7-2.png);
          background-position: right;
          background-repeat: no-repeat;
          background-color: #ffffff;
        }
        &-3 {
          background: url(../img/bg7-3.png);
          background-position: right;
          background-repeat: no-repeat;
        }
        &-4 {
          background: url(../img/bg7-4.png);
          background-position: right;
          background-repeat: no-repeat;
          background-color: #ffffff;
        }
      }
    }
  }
  & .helpForYou {
    padding: 0 8rem;
    & .help_forYou {
      background-image: url(../img/bg8.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: space-around;
      padding: 1rem 0;
      margin-bottom: 4rem;
      &--container_left {
        width: 46%;
        & h3 {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 42px;
          line-height: 49px;
          text-transform: uppercase;
          max-width: 680px;
          color: #FFFFFF;
          margin-bottom: 2rem;
          & span {
            color: #FA3636;
          }
        }
        & p {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 40px;
          max-width: 680px;
          color: #FFFFFF;
          margin: 0;
          & span {
            font-weight: 700;
            font-size: 24px;
            line-height: 40px;
            text-transform: uppercase;
            color: #FA3636;
          }
        }
      }
      &--container_right {
        width: 25%;
        & form {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          & button {
            background-color: #d83838;
            padding: 0.4rem 2rem;
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            color: #ffffff;
            height: 60px;
            max-width: 300px;
            outline: none;
            border: none;
            margin-top: 2rem;
            &:hover {
              text-decoration: none;
              background-color: #a80505;
            }
          }
          & input {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            padding: 1rem;
            color: #6b6b6b;
            max-width: 300px;
            height: 60px;
            margin-top: 2rem;
            &:focus {
              border: none;
              outline: none;
              border-left: 5px solid #a80505;
            }
          }
        }
      }
    }
  }
}

footer {
  background: #414040;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  & .navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1600px;
    margin: 0 auto;
    & .nav_logo {
      &--logoImg {
        width: 123px;
        height: 58.36px;
        margin-top: 0.5rem;
      }
      & p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        margin: 0.5rem;
      }
    }
    & nav ul {
      list-style: none;
      display: flex;
      & li a {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        margin-left: 2rem;
        &:hover {
          color: #b93131;
          text-decoration: none;
        }
      }
    }
    &--tel {
      margin-left: 3rem;
      display: flex;
      &-icon {
        & svg {
          display: flex;
          width: 14px;
          height: 14px;
          margin-right: 0.2rem;
          margin-top: 0.2rem;
        }
      }
      &-number {
        display: flex;
        flex-direction: column;
        & a {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #ffffff;
          &:hover {
            text-decoration: none;
            color: #b93131;
          }
        }
        & .number--icon {
          display: flex;
          justify-content: flex-end;
          margin-top: 0.4rem;
          a {
            border: none;
          }
        }
        & svg {
          width: 22px;
          height: 22px;
          margin-left: 0.7rem;
        }
      }
    }
  }
  .navigationForTel {
    display: none;
    padding-bottom: 1rem;
    margin: 0 auto;
    max-width: 1600px;
    & div {
      display: flex;
      justify-content: space-around;
      .nav_logo--logoImg {
        width: 123px;
        height: 58.36px;
        margin-top: 1rem;
      }
      &.navigation--tel {
        margin: 1rem 0;
        & svg {
          width: 25px;
          height: 25px;
        }
      }
    }
    & nav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 0;
      & li a {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        margin: 0 1rem;
        &:hover {
          color: #b93131;
          text-decoration: none;
        }
      }
    }
    & p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
      margin: 0.5rem 1rem;
      opacity: 0.8;
    }
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn {
  position: fixed;
  top: 3rem;
  right: 2rem;
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
  background-color: #ffffff;
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #ffffff;
}

#menu__toggle:checked~.menu__box {
  right: 0 !important;
}

.menu__btn {
  position: relative;
  top: 0rem;
  right: 0rem;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  transition-duration: .25s;
  background-color: #a80505;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: flex-end;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background: #D83838;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 1;
  & a {
    padding: 0.3rem 2rem;
    color: #ffffff !important;
  }
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  margin: 0 !important;
}

.menu__item:hover {
  color: #303030;
}

.navigationMenu {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  & .number--icon {
    display: flex;
    justify-content: end;
    & a {
      padding: 0 0.4rem;
    }
  }
}

.navigationMenu--number {
  & a {
    padding: 0.5rem;
  }
}

.menu__btn {
  display: none;
}

.modal-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 45px !important;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 1rem;
}

.textInModal {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.formInModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  & button {
    background-color: #d83838;
    padding: 0.4rem 2rem;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    height: 60px;
    width: 360px;
    outline: none;
    border: none;
    margin-top: 1rem;
    &:hover {
      text-decoration: none;
      background-color: #a80505;
    }
    &:focus {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
    &:active {
      background-color: #a80505 !important;
      border: none;
    }
  }
  & input {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 1rem;
    color: #6b6b6b;
    width: 360px;
    height: 60px;
    margin-top: 1rem;
    &:focus {
      border: none;
      outline: none;
      border: 1px solid #000000;
      border-left: 5px solid #a80505;
    }
  }
}

.InModal {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 1rem;
  text-align: center;
  color: #000000;
}

.line {
  width: 54.5px !important;
  height: 12.5px !important;
  @media screen and (max-width: 767px) {
    width: 30px !important;
    height: 7px !important;
    margin: 0 0.1rem 0 0.1rem !important;
  }
}

.h3InModal {
  font-weight: 700;
  font-size: 33px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  color: #15B625;
  margin: 1rem auto;
}

.h4InModal {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 1rem auto;
  & span {
    font-weight: 500;
  }
}

.buttonCl {
  display: none
}

.btn-primary {
  &:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  &:active {
    background-color: #a80505 !important;
    border: none;
  }
}

#exampleModalLabel3 {
  font-weight: 700;
  font-size: 33px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  color: #b61515;
  margin: 1rem auto;
}

#exampleModalLText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  color: #000000;
  margin: 0.5rem auto;
}

@import '_responsive';